@import "variables";
@import "reseteo";
@import "navbar";
body{
    background-color: #0f001b;

}

.alinear{
    width: 100%;
    height: auto;
    margin: 10px auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,auto);
    gap: 10px;
    grid-template-areas: 
    "engrilla redondo"
    "footer footer";
        
        .engrilla{
            .textop{
                
                font-size: calc(14px + #{$width2});
                font-family: 'Quicksand';
                text-align: center;
                color: #0f001b;
                
            }
            grid-area: engrilla;
            padding-top: 30%;
            .lista{
                font-size: calc(14px + #{$width});
                font-family: 'Quicksand';
                text-align: center;
                color: #0f001b;
            }
                
        }
        .redondo{
            grid-area: redondo;
            padding: 5%;
            text-decoration: none;
    
        }
    }
        
@import "footer";