@import "variables";
@import "reseteo";

.pantalla{
        
    .ancho{
        max-height: 100%;    
    }
    .sobref{
        
        margin: 0px auto;
        text-align: center;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        
        .logo{
            position:absolute; top: 40%; bottom: 60%; 
            align-content: center;
            width: 35%;
            padding-bottom: 15%;
            margin: auto;
            
        
        }
        .frase{
            margin: auto;
            font-display: inline;
            display: inline-block;
            position: absolute; top: 55%; bottom: 45%;
            text-align: center;
            h2{
                font-family: pacifico;
                font-size:calc(12px + #{$width});
            
            }
            
        
        }
        .enrow{
            
            margin: auto;
            display: inline-block;
            font-family: quicksand;
            color: #e5e5e5;
            align-content: space-around;
            position: absolute; top: 72%; bottom: 28%; 
            align-items: center;
            button{
                width: 7vw;
                height: 7vw;
                color: #0f001b;
                background-color: #0f001b;
                font-family: quicksand;
                border-radius: 12px;
                .letra{
                    font-family: quicksand;
                    color: #e5e5e5;
                    text-decoration: none;
                    font-size:calc(8px + #{$width});
                    
                }
                
            
            }
            
           
        }
    }
    
}
.burbuja{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .3;
    position: absolute;
    bottom: 0;
    left: 5%;
    animation: burbujas 11s linear infinite;
}
.burbuja1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 55%;
    animation: burbujas 9s linear infinite;
}
.burbuja2{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .2;
    position: absolute;
    bottom: 0;
    left: 0%;
    animation: burbujas 10s linear infinite;
}
.burbuja3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 75%;
    animation: burbujas 8s linear infinite;
}
.burbuja4{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .7;
    position: absolute;
    bottom: 0;
    left: 50%;
    animation: burbujas 5s linear infinite;
}
.burbuja5{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 30%;
    animation: burbujas 7s linear infinite;
}
.burbuja6{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .2;
    position: absolute;
    bottom: 0;
    left: 40%;
    animation: burbujas 4s linear infinite;
}
.burbuja7{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 90%;
    animation: burbujas 7s linear infinite;
}
.burbuja8{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .9;
    position: absolute;
    bottom: 0;
    left: 80%;
    animation: burbujas 8s linear infinite;
}
.burbuja9{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 65%;
    animation: burbujas 5s linear infinite;
}
.burbuja10{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .7;
    position: absolute;
    bottom: 0;
    left: 22%;
    animation: burbujas 6s linear infinite;
}
.burbuja11{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .3;
    position: absolute;
    bottom: 0;
    left: 27%;
    animation: burbujas 9s linear infinite;
}
.burbuja12{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 65%;
    animation: burbujas 8s linear infinite;
}
.burbuja13{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .2;
    position: absolute;
    bottom: 0;
    left: 12%;
    animation: burbujas 8s linear infinite;
}
.burbuja14{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 68%;
    animation: burbujas 5s linear infinite;
}
.burbuja15{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .7;
    position: absolute;
    bottom: 0;
    left: 49%;
    animation: burbujas 4s linear infinite;
}
.burbuja16{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 94%;
    animation: burbujas 7s linear infinite;
}
.burbuja17{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .2;
    position: absolute;
    bottom: 0;
    left: 17%;
    animation: burbujas 4s linear infinite;
}
.burbuja18{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 33%;
    animation: burbujas 7s linear infinite;
}
.burbuja19{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .9;
    position: absolute;
    bottom: 0;
    left: 54%;
    animation: burbujas 5s linear infinite;
}
.burbuja20{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 63%;
    animation: burbujas 5s linear infinite;
}
.burbuja21{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(58, 26, 1);
    opacity: .7;
    position: absolute;
    bottom: 0;
    left: 76%;
    animation: burbujas 6s linear infinite;
}



@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    
    }
    50%{
        opacity: .4;

    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }

}
    




