* {
  padding: 0;
  margin: 0; }

button {
  font-family: quicksand; }

.letra {
  font: color #b1b1b1, text-decoration none, "Quicksand", sans-serif, 1em; }

.azul {
  background-color: #0f001b; }

.navbar-left {
  max-width: 70%; }
  .navbar-left .logo {
    justify-items: flex-start;
    position: initial; }
  .navbar-left .navbar ul li a {
    font-size: 1em; }
  .navbar-left li {
    list-style: none;
    display: inline;
    text-decoration: none; }
    .navbar-left li a:link {
      text-decoration: none;
      color: #bbbbbb; }
      .navbar-left li a:link a:visited {
        text-decoration: none;
        color: #bbbbbb; }
      .navbar-left li a:link a:hover {
        text-decoration: none;
        color: #f3f3f3; }
      .navbar-left li a:link a:active {
        text-decoration: none;
        color: #bbbbbb; }

body {
  background-color: #0f001b; }

.alinear {
  width: 100%;
  margin: 10px auto;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 10px;
  grid-template-areas: "redondo engrilla"
 "engrilla1 redondo1"
 "footer footer"; }
  .alinear h4 {
    font: color #333333, text-decoration none, "Quicksand", sans-serif, calc(12px + 0.5vw); }
  .alinear .redondo {
    grid-area: redondo;
    padding: 5%; }
  .alinear .engrilla {
    grid-area: engrilla;
    padding: 5%;
    font-family: "Pacifico";
  }

  .alinear .redondo1 {
    grid-area: redondo1;
    padding: 5%; }
  .alinear .engrilla1 {
    grid-area: engrilla1;
    padding: 5%; }

.footer {
  background-color: #0f001b;
  grid-area: footer;
  justify-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 10%; }
  .footer h4 {
    font: color #333333, text-decoration none, "Quicksand", sans-serif, calc(12px + 0.5vw); }

li {
  list-style: none;
  display: inline;
  text-decoration: none; }
  li a:link {
    text-decoration: none;
    color: #bbbbbb; }
  li a:visited {
    text-decoration: none;
    color: #bbbbbb; }
  li a:hover {
    text-decoration: none;
    color: #f3f3f3; }
  li a:active {
    text-decoration: none;
    color: #bbbbbb; }

.logo {
  justify-items: flex-start;
  position: initial; }
