*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    
    
}

button{
    font-family: quicksand;
}

h3{
    font-family: quicksand;
    font-size:calc(8px + 0.8vw);
    color: #e5e5e5;

}
h2{
    font-family: pacifico;
    font-size:calc(12px + 1.2vw);

}


.letra{
    font-family: quicksand;
    color: #e5e5e5;
    text-decoration: none;
    
}


.azul{
    background-color: #0f001b;
}
.navbar ul li a{
    font-size: 1em;
}
.padre{
    width: 100%;
    height: 100%;
    margin: 10px auto;
    font-family: quicksand;
    color: white;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: 
    "posicionfotos1 posicionfotos2 posicionfotos3"
    "footer footer footer"
    ;
}
.header{
    grid-area: header;
    background-color: #0f001b;
    font-size:calc(14px + 0.5vw);
}


.footer{

    background-color: #0f001b;
    grid-area: footer;
    font-size:calc(10px + 0.5vw);
    justify-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10%;

}
body{
    background-color: #0f001b;
}
a:link{
    text-decoration: none;
    color: rgb(187, 187, 187);

}
a:visited{
    text-decoration: none;
    color: rgb(187, 187, 187);

}
a:hover{
    text-decoration: none;
    color: rgb(243, 243, 243);

}
a:active{
    text-decoration: none;
    color: rgb(187, 187, 187);

}


li{
    list-style: none;
    text-decoration: none;
    display: inline;

}
.logo{
    justify-items: flex-start;
    position: initial;
    
}

.imggrande{
    width: 100%;
}


.cerveza1{
    list-style: none;
    grid-area: posicionfotos1;
    padding: 10%;


}
.cerveza2{
    list-style: none;
    grid-area: posicionfotos2;
    padding: 10%;


}
.cerveza3{
    list-style: none;
    grid-area: posicionfotos3;
    padding: 10%;

}
body{
    font-family: 'Quicksand', sans-serif;
        
}
h2{
        
    font-family: 'Pacifico', cursive;
    font-size:calc(12px + 1.2vw);
    text-decoration: none;
    color: #0f001b;
}

h4{
       
    font-family: 'Quicksand', sans-serif;
    font-size:calc(6px + 0.5vw);
    text-decoration: none;
    color: white;
}
h3{
    
    font-family: 'Quicksand', sans-serif;
    font-size:calc(8px + 0.8vw);
    text-decoration: none;
    color: white;
}

.posicionfotos1{
    grid-area: posicionfotos1;
    list-style: none;
    transition: width 3s;
    padding: 15%;
   
    
}
.posicionfotos2{
    grid-area: posicionfotos2;
    list-style: none;
    padding: 15%;
    transition: width 3s;
}
.posicionfotos3{
    grid-area: posicionfotos3;
    list-style: none;
    padding: 15%;
    transition: width 3s;
}
.posicionfotos1:hover{
    grid-area: posicionfotos1;
    list-style: none;
    width: 100%;
}
.posicionfotos2:hover{
    grid-area: posicionfotos2;
    list-style: none;
    width: 100%;
}
.posicionfotos3:hover{
    grid-area: posicionfotos3;
    list-style: none;
    width: 100%;
}
.navbar-left{
    max-width: 70%;
}
@media screen and (max-width: 768px) {
    .padre{

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 10px;
        grid-template-areas: 
        "posicionfotos1"
        "posicionfotos2"
        "posicionfotos3"
        "footer";
    }
    .posicionfotos1{
        grid-area: posicionfotos1;
        max-width: 100%;
        align-content: center;
        text-align: center;
        transition: width 5s;
        padding-left: 30%;
        
    }
    .posicionfotos2{
        grid-area: posicionfotos2;
        max-width: 100%;
        align-content: center;
        text-align: center;
        transition: width 5s;
        padding-left: 30%;
        
    }
    .posicionfotos3{
        grid-area: posicionfotos3;
        max-width: 100%;
        align-content: center;
        text-align: center;
        padding-left: 30%;
        transition: width 5s;
        
        
    }
    .footer{
        padding: 15%;
        font-size:calc(8px + 0.5vw);
    }
    .posicionfotos1:hover{
        grid-area: posicionfotos1;
        list-style: none;
        width: 90%;
    }
    .posicionfotos2:hover{
        grid-area: posicionfotos2;
        list-style: none;
        width: 90%;
    }
    .posicionfotos3:hover{
        grid-area: posicionfotos3;
        list-style: none;
        width: 90%;
    }

    .header{
        font-size:calc(10px + 0.5vw);
    }
}
    

@media screen and (max-width: 320px) {
    .padre{

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 10px;
        grid-template-areas: 
        "posicionfotos1"
        "posicionfotos2"
        "posicionfotos3"
        "footer";
    }
    .posicionfotos1{
        grid-area: posicionfotos1;
        max-width: 80%;
        align-content: center;
        text-align: center;
        padding-left: 30%;
        transition: width 2s;
        
    }
    .posicionfotos2{
        grid-area: posicionfotos2;
        max-width: 80%;
        align-content: center;
        text-align: center;
        padding-left: 30%;
        transition: width 2s;
        
    }
    .posicionfotos3{
        grid-area: posicionfotos3;
        max-width: 80%;
        align-content: center;
        text-align: center;
        padding-left: 30%;
        transition: width 2s;
        
        
    }
    .footer{
        padding: 7%;
        font-size:calc(7px + 0.5vw);
    }
    .posicionfotos1:hover{
        grid-area: posicionfotos1;
        list-style: none;
        width: 70%;
    }
    .posicionfotos2:hover{
        grid-area: posicionfotos2;
        list-style: none;
        width: 70%;
    }
    .posicionfotos3:hover{
        grid-area: posicionfotos3;
        list-style: none;
        width: 70%;
    }
   
    .header{
        font-size:calc(8px + 0.5vw);
    }
}


